@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.abcd {
  padding-left: 5%;
  padding-right: 5%;
}

.nav-items {
  color: #323232;
}

.item:hover {
  color: #ff8126;
  font-weight: bold;
}

.search-bar {
  width: 85%;
  margin-right: 16px;
  background-color: white;
  border: 0.2px solid #969696;

  border-radius: 20px;
}

.search-btn {
  font-size: 20px;
  width: 15%;
  background-color: #ff8126;
  color: white;
  font-weight: 600;
  border-radius: 20px;
}

.search {
  margin-bottom: 40px;
}

.card {
  border-radius: 16px;
  padding: 20px;
  height: 340px;
  width: 280px;
  padding: 5px;
  margin: 5px;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-img {
  margin-bottom: 20px;
}

.card-name {
  line-height: normal;
  margin-top: 4px;
  margin-bottom: 4px;
}

.menu-card {
  margin-bottom: 40px;
  align-items: center;
}

@media (max-width: 650px) {
  .card {
    width: 100%;
    margin-bottom: 200px;
  }
}

/* @media ( max-width: 1000px ) {
    .card {
        width: 400px;
        margin-bottom: 120px;
    }
} */
